#bottomPanel {
    -fx-max-height: 100px;
    -fx-background-color: #16192b;
    -fx-background-radius: 0px;
}

#btn1 {
    -fx-background-image: url("../img/send-button.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 40px 45px;
    -fx-background-position: center center;
    -fx-pref-width: 40px;
    -fx-pref-height: 45px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 5px;
}

#chatBox {
    -fx-pref-width: 450px;
    -fx-pref-height: 475px;
}

#textField {
    -fx-background-radius: 20px;
    -fx-text-inner-color: #ffffff;
    -fx-background-color: #5c5c5c;
    -fx-border-radius: 25px;
    -fx-pref-width: 315;
    -fx-pref-height: 40px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

#textArea {
    -fx-text-inner-background: #ffffff;
    -fx-font-size: 150%;
    -fx-background-radius: 0px;
    -fx-text-inner-color: #ffffff;
    -fx-background-size: 50% 50%;
    -fx-background-color: transparent;
    -fx-background-color: #16192b;
    -fx-border-radius: 0px;
}

#textArea .scroll-pane {
    -fx-background-color: transparent;
}

#textArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#textArea .scroll-pane .content{
    -fx-background-color: transparent;
}